<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>YOLOv5 Annotator with Segmentation Mode</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div id="file-list">
    <h3>Image Files</h3>
    <input type="file" id="upload-folder" webkitdirectory directory multiple>
  </div>
  <div id="canvas-container">
    <div id="canvas-wrapper">
      <canvas id="canvas"></canvas>
      <span id="cursorPosition">Cursor: (x: 0.000000, y: 0.000000)</span>
    </div>
    <div id="annotations-wrapper">
      <pre id="annotations"></pre>
    </div>
  </div>
  <div id="txt-file-list">
    <h3>Annotation Files</h3>
  </div>

  <!-- Load scripts in order -->
  <script type="module" src="{{ url_for('static', filename='js/constants.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/modes.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/drawing.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/annotation_api.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/events.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>